{{ if not (eq .Params.showMeta false) }}
  <div class="postShorten-meta post-meta">
    {{ if not (eq .Params.showDate false)  }}
      <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ partial "internal/date.html" . }}
      </time>
    {{ end }}
    {{ partial "post/category.html" . }}

    {{ if (and (not (eq .Params.showDate false)) (not ( eq .Date .Lastmod )) ) }}
      <time itemprop="dateModified" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
        <br>[ Last Modified Date: {{ partial "internal/lastmod.html" . }} ]
      </time>
    {{ end }}

    {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
    <!-- {{ $minutes := math.Floor (div $readTime 60) }} -->
    {{ $minutes := math.Ceil (div $readTime 60) }}
    {{ $seconds := mod $readTime 60 }}
    <!-- <p>Reading time: {{ $minutes }} {{ cond (eq $minutes 1) "minute" "minutes" }} and {{ $seconds }} {{ cond (eq $seconds 1) "second" "seconds" }}.</p> -->
    <p>Reading time: {{ $minutes }} {{ cond (eq $minutes 1.0) "minute" "minutes" }}.</p>

    <!-- {{ if gt .ReadingTime 1 }}
        {{ .Scratch.Set "readingTime" "minutes" }}
    {{ else }}
        {{ .Scratch.Set "readingTime" "minute" }}
    {{ end }} -->

    <!-- <p>Reading time: {{ .ReadingTime }} {{ .Scratch.Get "readingTime" }}</p> -->
    {{/*<!-- NOTE: Alternative writing:
        {{ $readTime := cond (gt .ReadingTime 1) "minutes" "minute" }}
        <p>Reading time: {{ .ReadingTime }} {{ $readTime }}.</p>
    -->*/}}

  </div>
{{ end }}
